In [1]:
# list comprehensions
# dict comprehensions
# set comprehensions

In [2]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# I want to have a list of the elements of "numbers" squared

output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# list comprehension

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
mylist = [10, 20, 30]  # creating a list!

In [6]:
mylist = list((10, 20, 30, 40))  # creating a list!

In [7]:
mylist = 'abc def ghi'.split()  # also creating a list!

In [8]:
# list comprehension

[one_number ** 2                # SELECT
 for one_number in numbers]     # FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# if you want to perform an action many times, use a for loop

# if you want to create a new list, use a comprehension

In [9]:
[(one_number ** 2, one_number **3)                # SELECT
 for one_number in numbers]     # FROM

[(0, 0),
 (1, 1),
 (4, 8),
 (9, 27),
 (16, 64),
 (25, 125),
 (36, 216),
 (49, 343),
 (64, 512),
 (81, 729)]

In [10]:
def square_and_cube(n):
    return n**2, n**3

[square_and_cube(one_number)
for one_number in numbers]

[(0, 0),
 (1, 1),
 (4, 8),
 (9, 27),
 (16, 64),
 (25, 125),
 (36, 216),
 (49, 343),
 (64, 512),
 (81, 729)]

In [11]:
mylist = ['abcd', 'efgh', 'ijklmn']

'*'.join(mylist)

'abcd*efgh*ijklmn'

In [12]:
mylist = [100, 200, 300]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [13]:
[str(one_item)
for one_item in mylist]

['100', '200', '300']

In [14]:
'*'.join([str(one_item)
         for one_item in mylist])

'100*200*300'

# Exercises

1. Ask the user to enter several numbers, separated by spaces (using the `input` function). Break those apart, and then sum the numbers.

2. Ask the user to enter a sentence. Count the number of non-space/non-whitespace characters in what they entered, using a list comprehension.

Several points:

1. You can break a string apart with `str.split`
2. You can sum a list of numbers with `sum`
3. You can get the length of a string with `len`