In [1]:
# list comprehensions
# dict comprehensions
# set comprehensions

In [2]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# I want to have a list of the elements of "numbers" squared

output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# list comprehension

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
mylist = [10, 20, 30]  # creating a list!

In [6]:
mylist = list((10, 20, 30, 40))  # creating a list!

In [7]:
mylist = 'abc def ghi'.split()  # also creating a list!

In [8]:
# list comprehension

[one_number ** 2                # SELECT
 for one_number in numbers]     # FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# if you want to perform an action many times, use a for loop

# if you want to create a new list, use a comprehension